@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
:root {
  --mainBrown: #2d1e1f;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --maindark: #222;
}

body {
  background-color: var(--mainWhite);
  color: var(--maindark);
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  font-size: 2rem;
  color: var(--mainYellow);
}
.default-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.9));
  background-position: center;
  background-size: cover;
}
.btn-yellow {
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}
.btn-yellow:hover {
  background-color: var(--mainYellow);
  color: var(--mainBrown);
}
.footer {
  background: var(--mainBrown);
}
.about-background {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(255, 158, 9, 0.5),
    rgba(255, 158, 9, 0.9)
  );
  background-position: center;
  background-size: cover;
}

.menu,
.contact {
  background: var(--mainGrey);
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
